## Data cleaning lesson/exercise from [DataQuest](https://www.dataquest.io/m/136/data-cleaning-walkthrough)

Read CSV datasets into Pandas DataFrame objects that we'll store in a dictionary

In [1]:
import pandas as pd

# NYC high school datasets we'll use, from NYC Open Data (https://data.cityofnewyork.us/Education)
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]

# create a dictionary of data file names, minus .csv extension (keys) to corresponding Pandas DataFrames (values) 
data = {}
for data_file in data_files:
    dataset_name = data_file.split(".")[0]
    data[dataset_name] = pd.read_csv(data_file)

Read survey datasets which are not CSV but instead are tab delimited text files with a "windows-1252" encoding:

In [3]:
# read the survey datasets into Pandas DataFrame objects
all_survey = pd.read_csv("survey_all.txt", 
                         delimiter="\t", 
                         encoding="windows-1252")
d75_survey = pd.read_csv("survey_d75.txt", 
                         delimiter="\t", 
                         encoding="windows-1252")

# combine the two surveys into a single DataFrame object
survey = pd.concat((all_survey, d75_survey), axis=0, sort=True)

C:\home\miniconda\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  import sys

Clean the survey DataFrame by 

1. renaming the "dbn" field to "DBN", and 
2. filtering down to only the fields we'll need for our analysis

In [4]:
# copy the "dbn" column as a column named "DBN"
survey["DBN"] = survey["dbn"]

# create a list of the relevant fields we'll want to filter into our "survey" DataFrame
survey_fields = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]

# filter the DataFrame, assign it into the data dictionary
data["survey"] = survey[survey_fields]

Create a function to help with creating a DBN column for the class_size DataFrame. The function should behave as follows:

- Takes in a number.
- Converts the number to a string using the str() function.
- Pads the string with a zero if the length of the string is only 1 digit.
- Returns the string

In [7]:
def num_to_str(number):
    return str(number).zfill(2)

Create a DBN column in the class_size DataFrame from the "CSD" (padded with a leading zero if necessary) and "SCHOOL CODE" columns.

In [8]:
data["class_size"]["DBN"] = data["class_size"]["CSD"].apply(lambda x: num_to_str(x)) + data["class_size"]["SCHOOL CODE"]

Create a "DBN" column in the "hs_directory" DatFrame (copy the "dbn" column and name it "DBN").

In [10]:
data["hs_directory"].rename(columns={'dbn': 'DBN'}, inplace=True)

Create a total SAT score column from the three component SAT score columns in the `sat_results` DataFrame.

In [11]:
cols = ["SAT Math Avg. Score", 
        "SAT Critical Reading Avg. Score", 
        "SAT Writing Avg. Score"]
for col in cols:
    data["sat_results"][col] = \
        pd.to_numeric(data["sat_results"][col], errors="coerce")

data["sat_results"]["sat_score"] = \
    data["sat_results"]["SAT Math Avg. Score"] +\
    data["sat_results"]["SAT Critical Reading Avg. Score"] +\
    data["sat_results"]["SAT Writing Avg. Score"]

Use a regular expression to pull the lat/lon values from the `Location 1` column of the `hs_directory` DataFrame:

In [23]:
import re

def extract_lat(location):
    
    # get the first part of the lat/lon pair
    lat = re.findall("\(.+\)", location)[0].split()[0]
    
    # clean off the leading parenthesis and the comma
    lat = lat.replace("(", "").replace(",", "")
    
    # return the lat value as a string
    return lat
    
    
def extract_lon(location):
    
    # get the second part of the lat/lon pair
    lon = re.findall("\(.+\)", location)[0].split()[1]
    
    # clean off the trailing parenthesis and the comma
    lon = lon.replace(")", "").replace(",", "")
    
    # return the lon value as a string
    return lon
    
# create lat and lon columns from the lat/lon values extracted from the "Location 1" column
data["hs_directory"]["lat"] = data["hs_directory"]["Location 1"].apply(extract_lat) 
data["hs_directory"]["lon"] = data["hs_directory"]["Location 1"].apply(extract_lon) 

# convert the string values to numeric
data["hs_directory"]["lat"] = pd.to_numeric(data["hs_directory"]["lat"],
                                            errors="coerce")
data["hs_directory"]["lon"] = pd.to_numeric(data["hs_directory"]["lon"],
                                            errors="coerce")

# look to make sure we have what we expect
data["hs_directory"][["Location 1", "lat", "lon"]]

                                            Location 1        lat        lon
0    883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...  40.670299 -73.961648
1    1110 Boston Road\nBronx, NY 10456\n(40.8276026...  40.827603 -73.904475
2    1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...  40.842414 -73.916162
3    411 Pearl Street\nNew York, NY 10038\n(40.7106...  40.710679 -74.000807
4    160 20 Goethals Avenue\nJamaica, NY 11432\n(40...  40.718810 -73.806500
5    3000 East Tremont Avenue\nBronx, NY 10461\n(40...  40.840514 -73.838121
6    850 Grand Street\nBrooklyn, NY 11211\n(40.7119...  40.711963 -73.940434
7    345 East 15Th Street\nNew York, NY 10003\n(40....  40.732485 -73.983053
8    167 01 Gothic Drive\nJamaica, NY 11432\n(40.71...  40.713577 -73.796518
9    207 01 116th Avenue Cambria Heights\nNY 11411\...  40.697807 -73.745858
10   1716 Southern Boulevard\nBronx, NY 10460\n(40....  40.836953 -73.887962
11   411 Pearl Street\nNew York, NY 10038\n(40.7106...  40.710679 -74.000807
12   650 Academy Street\nNew York, NY 10002\n(40.86...  40.866046 -73.924857
13   37 02 47 Avenue\nLong Island City, NY 11101\n(...  40.742189 -73.928243
14   2975 Tibbett Avenue\nBronx, NY 10463\n(40.8800...  40.880050 -73.909209
15   511 West 182Nd Street\nNew York, NY 10033\n(40...  40.848879 -73.930807
16   5800 Tilden Avenue\nBrooklyn, NY 11203\n(40.64...  40.648664 -73.921899
17   122 Amsterdam Avenue\nNew York, NY 10023\n(40....  40.774296 -73.984823
18   470 Jackson Avenue\nBronx, NY 10455\n(40.81113...  40.811139 -73.909787
19   1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...  40.822304 -73.855961
20   3000 East Tremont Avenue\nBronx, NY 10461\n(40...  40.840514 -73.838121
21   49 Flatbush Avenue Extension\nBrooklyn, NY 112...  40.697175 -73.984960
22   1200 Manor Road Staten Island\nNY 10314\n(40.5...  40.598652 -74.123105
23   167 01 Gothic Drive\nJamaica, NY 11432\n(40.71...  40.713577 -73.796518
24   425 West 123 Street\nNew York, NY 10027\n(40.8...  40.810918 -73.956927
25   500 East Fordham Road\nBronx, NY 10458\n(40.86...  40.860012 -73.888230
26   122 Amsterdam Avenue\nNew York, NY 10023\n(40....  40.774296 -73.984823
27   4200 16 Avenue\nBrooklyn, NY 11204\n(40.634908...  40.634908 -73.981519
28   108 35 167 Street\nJamaica, NY 11433\n(40.6969...  40.696937 -73.786982
29   2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...  40.593594 -73.984729
..                                                 ...        ...        ...
405  30 20 Thomson Avenue\nLong Island City, NY 111...  40.745094 -73.936814
406  1440 Story Avenue\nBronx, NY 10473\n(40.821170...  40.821171 -73.881136
407  40 Irving Place\nNew York, NY 10003\n(40.73551...  40.735519 -73.987604
408  600 Kingston Avenue\nBrooklyn, NY 11203\n(40.6...  40.659517 -73.942546
409  57 00 223Rd Street Oakland Gardens\nNY 11364\n...  40.752392 -73.756083
410  100 Luten Avenue Staten Island\nNY 10312\n(40....  40.528229 -74.192154
411  144 80 Barclay Avenue\nFlushing, NY 11355\n(40...  40.760414 -73.818376
412  317 East 67 Street\nNew York, NY 10065\n(40.76...  40.765445 -73.960214
413  400 Irving Avenue\nBrooklyn, NY 11237\n(40.696...  40.696962 -73.910816
414  549 Audubon Avenue\nNew York, NY 10040\n(40.85...  40.855938 -73.927030
415  34 12 36 Avenue\nAstoria, NY 11106\n(40.755174...  40.755175 -73.926824
416  1122 East 180 Street\nBronx, NY 10460\n(40.841...  40.841805 -73.875418
417  2839 Bedford Avenue\nBrooklyn, NY 11210\n(40.6...  40.633335 -73.952916
418  75 40 Parsons Boulevard Fresh Meadows\nNY 1136...  40.725603 -73.810721
419  999 Jamaica Avenue\nBrooklyn, NY 11208\n(40.69...  40.691144 -73.868426
420  100 Hester Street\nNew York, NY 10002\n(40.716...  40.716412 -73.992676
421  1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...  40.822304 -73.855961
422  111 East 33Rd Street\nNew York, NY 10016\n(40....  40.746106 -73.981010
423  439 West 49Th Street\nNew York, NY 10019\n(40....  40.763362 -73.990509
424  320 Beach 104Th Street Rockaway Park\nNY 11694...  40.584131 -73.825681
425  911 Flatbush Avenue\nBrooklyn, NY 11226\n(40.6...  40.649440 -73.958431
426  1180 Rev J A Polite Ave\nBronx, NY 10459\n(40....  40.825226 -73.893950
427  257 North 6 Street\nBrooklyn, NY 11211\n(40.71...  40.715038 -73.954650
428  525 West 50Th Street\nNew York, NY 10019\n(40....  40.765027 -73.992517
429  2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...  40.593594 -73.984729
430  2225 Webster Avenue\nBronx, NY 10457\n(40.8546...  40.854647 -73.896646
431  925 Astor Avenue\nBronx, NY 10469\n(40.8596983...  40.859698 -73.860741
432  800 East Gun Hill Road\nBronx, NY 10467\n(40.8...  40.875754 -73.861388
433  26 Broadway\nNew York, NY 10004\n(40.705234939...  40.705235 -74.013315
434  149 11 Melbourne Avenue\nFlushing, NY 11367\n(...  40.734408 -73.821417

[435 rows x 3 columns]